In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Loading Data**

In [14]:
df_clean_tech = pd.read_csv('CAIT 2.0 Country Clean Technology Data-csv.csv')
df_clean_tech.reset_index(drop=True,inplace=True)
df_clean_tech.columns = df_clean_tech.iloc[0]
df_clean_tech = df_clean_tech.loc[1:]
df_clean_tech = df_clean_tech.reset_index(drop=True)
df_clean_tech.head(10)

,Country,Year,Cumulative Installed Solar PV Capacity (MW),Annual Additions of Installed Solar PV Capacity (MW),Cumulative Installed Wind Capacity (MW),Annual Additions of Installed Wind Capacity (MW),Annual Manufacturing Capacity of Silicon (Metric Tons),Annual Manufacturing Capacity of PV Cells (MW),Annual Manufacturing Capacity of PV Modules (MW),Annual Manufacturing Capacity of Wind Turbines (MW),Total Solar PV Jobs,Total Solar PV Manufacturing Jobs,Total Wind Jobs,Total Wind Manufacturing Jobs
0,China,2000,NaN,NaN,346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,China,2001,NaN,NaN,402,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,China,2002,NaN,NaN,469,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,China,2003,NaN,NaN,567,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,China,2004,62.1,10,764,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,China,2005,71,8.9,1260,496,NaN,253,373,781.5,NaN,NaN,NaN,NaN
6,China,2006,81,10,2559,1299,NaN,893,1054.5,1254.5,39500,NaN,NaN,NaN
7,China,2007,101,20,5910,3351,1500,2361,2597,4683.4,82800,NaN,NaN,NaN
8,China,2008,141,40,12020,6110,4500,5101,4470,10935.75,200000,NaN,NaN,NaN
9,China,2009,351,210,25805,13785,26000,7011,7640,23168,220000,NaN,150000,NaN

In [5]:
df_clean_fuel = pd.read_csv('cleanFuelAndTech.csv')
df_clean_tech.head(10)

,Unnamed: 0,Unnamed: 1,Capacity,Unnamed: 3,Unnamed: 4,Unnamed: 5,Manufacturing Capacity,Unnamed: 7,Unnamed: 8,Unnamed: 9,Jobs,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Country,Year,Cumulative Installed Solar PV Capacity (MW),Annual Additions of Installed Solar PV Capacit...,Cumulative Installed Wind Capacity (MW),Annual Additions of Installed Wind Capacity (MW),Annual Manufacturing Capacity of Silicon (Metr...,Annual Manufacturing Capacity of PV Cells (MW),Annual Manufacturing Capacity of PV Modules (MW),Annual Manufacturing Capacity of Wind Turbines...,Total Solar PV Jobs,Total Solar PV Manufacturing Jobs,Total Wind Jobs,Total Wind Manufacturing Jobs
1,China,2000,NaN,NaN,346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,China,2001,NaN,NaN,402,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,China,2002,NaN,NaN,469,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,China,2003,NaN,NaN,567,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,China,2004,62.1,10,764,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,China,2005,71,8.9,1260,496,NaN,253,373,781.5,NaN,NaN,NaN,NaN
7,China,2006,81,10,2559,1299,NaN,893,1054.5,1254.5,39500,NaN,NaN,NaN
8,China,2007,101,20,5910,3351,1500,2361,2597,4683.4,82800,NaN,NaN,NaN
9,China,2008,141,40,12020,6110,4500,5101,4470,10935.75,200000,NaN,NaN,NaN

In [7]:
df_cont = pd.read_csv('continents2.csv')
df_cont.head(10)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
5,Andorra,AD,AND,20,ISO 3166-2:AD,Europe,Southern Europe,NaN,150.0,39.0,NaN
6,Angola,AO,AGO,24,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0
7,Anguilla,AI,AIA,660,ISO 3166-2:AI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
8,Antarctica,AQ,ATA,10,ISO 3166-2:AQ,NaN,NaN,NaN,NaN,NaN,NaN
9,Antigua and Barbuda,AG,ATG,28,ISO 3166-2:AG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0

#### Description of the columns

**CAIT 2.0 Country Clean Tech Data Set**
- Country: Country Name
- Year: year
- Cumulaive Installed Solar PV Capacity (MW): Cumulative amount energy can be produced by the solar system
- Annual Additions of Installed Solar PV Capacity (MW): the additional amount of energy that can be produced by solar system compare to last year
- Annual Manufacturing capacity of Sillicon (Metric Tons): amount of silicon can be produced in a year
- Annual Manufacturing Capacity of PV Cells (MW): the number of photovoltaic cells that can be produced in a year based on the amount of energy they can produce
- Annual Manufacturing Capacity of PV modules (MW): number of photovoltaic modules that can be manufactured in a year based on the amount of energy the would produce
- Annual Manufacturing of Wind Turbines (MW): the number of wind turbines that can be producecd in a year based on the amount of energy they output
- Total Solar PV Jobs: total number of solar photovoltaic jobs
- Total Wind Jobs: total number of wind energy jobs
- Total Manufacturing Jobs: total number of turbine manufacturing jobs

**cleanFuelAndTech Data Set**
- country: Country Name
- Indicator: Description of what the tooltip indicates
- Period: Year
- Tooltip: percentage of clean fuel usage

**continents2 Data Set**
- name: country name
- alpha-2: alpha-2 code
- alpha-3: alpha-3 code
- country-code: numeric code
- iso_3166_2: codes for identifying the principal subdivisions of all countries
- region: continent
- sub-region: sub-continent
- intermediate-region: divisions of the region
- regions-code: continent code
- sub-region-code: sub-continent code
- intermediate-region code: code for divions of the region

**We will check the description of the data for each country**

In [34]:
df_clean_tech['Country'].unique()

array(['China', 'Germany', 'India', 'Japan', 'United States'],
      dtype=object)

In [36]:
# Seperating data based on country
df_cl_tech_china = df_clean_tech.loc[df_clean_tech.Country=='China']
df_cl_tech_germany = df_clean_tech.loc[df_clean_tech.Country=='Germany']
df_cl_tech_india = df_clean_tech.loc[df_clean_tech.Country=='India']
df_cl_tech_japan = df_clean_tech.loc[df_clean_tech.Country=='Japan']
df_cl_tech_us = df_clean_tech.loc[df_clean_tech.Country=='United States']

In [37]:
df_cl_tech_china.describe()

,Country,Year,Cumulative Installed Solar PV Capacity (MW),Annual Additions of Installed Solar PV Capacity (MW),Cumulative Installed Wind Capacity (MW),Annual Additions of Installed Wind Capacity (MW),Annual Manufacturing Capacity of Silicon (Metric Tons),Annual Manufacturing Capacity of PV Cells (MW),Annual Manufacturing Capacity of PV Modules (MW),Annual Manufacturing Capacity of Wind Turbines (MW),Total Solar PV Jobs,Total Solar PV Manufacturing Jobs,Total Wind Jobs,Total Wind Manufacturing Jobs
count,12,12,8,8,12,11,5,7,7,7,5,0,1,0
unique,1,12,8,7,12,11,5,7,7,7,5,0,1,0
top,China,2000,62.1,10,346,56,1500,253,373,781.5,39500,NaN,150000,NaN
freq,12,1,1,2,1,1,1,1,1,1,1,NaN,1,NaN

In [38]:
df_cl_tech_germany.describe()

,Country,Year,Cumulative Installed Solar PV Capacity (MW),Annual Additions of Installed Solar PV Capacity (MW),Cumulative Installed Wind Capacity (MW),Annual Additions of Installed Wind Capacity (MW),Annual Manufacturing Capacity of Silicon (Metric Tons),Annual Manufacturing Capacity of PV Cells (MW),Annual Manufacturing Capacity of PV Modules (MW),Annual Manufacturing Capacity of Wind Turbines (MW),Total Solar PV Jobs,Total Solar PV Manufacturing Jobs,Total Wind Jobs,Total Wind Manufacturing Jobs
count,12,12,12,12,12,12,7,7,7,7,12,0,12,7
unique,1,12,12,12,12,11,7,7,7,7,12,0,12,6
top,Germany,2000,76,45,6095,1665,5500,6,21,4080,3100,NaN,25000,37000
freq,12,1,1,1,1,2,1,1,1,1,1,NaN,1,2

In [39]:
df_cl_tech_india.describe()

,Country,Year,Cumulative Installed Solar PV Capacity (MW),Annual Additions of Installed Solar PV Capacity (MW),Cumulative Installed Wind Capacity (MW),Annual Additions of Installed Wind Capacity (MW),Annual Manufacturing Capacity of Silicon (Metric Tons),Annual Manufacturing Capacity of PV Cells (MW),Annual Manufacturing Capacity of PV Modules (MW),Annual Manufacturing Capacity of Wind Turbines (MW),Total Solar PV Jobs,Total Solar PV Manufacturing Jobs,Total Wind Jobs,Total Wind Manufacturing Jobs
count,12,12,7,3,12,11,0,7,7,7,1,0,1,0
unique,1,12,6,3,12,11,0,7,7,6,1,0,1,0
top,India,2000,2.12,6.1,220,1236,NaN,20.5,66.5,3055,112000,NaN,42000,NaN
freq,12,1,2,1,1,1,NaN,1,1,2,1,NaN,1,NaN

In [40]:
df_cl_tech_japan.describe()

,Country,Year,Cumulative Installed Solar PV Capacity (MW),Annual Additions of Installed Solar PV Capacity (MW),Cumulative Installed Wind Capacity (MW),Annual Additions of Installed Wind Capacity (MW),Annual Manufacturing Capacity of Silicon (Metric Tons),Annual Manufacturing Capacity of PV Cells (MW),Annual Manufacturing Capacity of PV Modules (MW),Annual Manufacturing Capacity of Wind Turbines (MW),Total Solar PV Jobs,Total Solar PV Manufacturing Jobs,Total Wind Jobs,Total Wind Manufacturing Jobs
count,12,12,12,11,12,11,7,7,7,7,6,6,0,0
unique,1,12,12,11,12,9,6,7,7,6,6,6,0,0
top,Japan,2000,330.2,122.6,136,167,8300,551,688,2040,9800,2500,NaN,NaN
freq,12,1,1,1,1,2,2,1,1,2,1,1,NaN,NaN

In [41]:
df_cl_tech_us.describe()

,Country,Year,Cumulative Installed Solar PV Capacity (MW),Annual Additions of Installed Solar PV Capacity (MW),Cumulative Installed Wind Capacity (MW),Annual Additions of Installed Wind Capacity (MW),Annual Manufacturing Capacity of Silicon (Metric Tons),Annual Manufacturing Capacity of PV Cells (MW),Annual Manufacturing Capacity of PV Modules (MW),Annual Manufacturing Capacity of Wind Turbines (MW),Total Solar PV Jobs,Total Solar PV Manufacturing Jobs,Total Wind Jobs,Total Wind Manufacturing Jobs
count,12,12,10,9,12,11,7,6,7,7,9,4,0,0
unique,1,12,10,9,12,11,5,5,7,6,9,4,0,0
top,United States,2000,28,45,2578,1697,21900,125,90,1200,1100,705,NaN,NaN
freq,12,1,1,1,1,1,2,2,1,2,1,1,NaN,NaN